.App {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(https://i.pinimg.com/originals/93/23/71/9323715fd8278d43bc856b6272bcf891.gif);
	background-repeat: ;
	max-width: 50em;
	width: 35em;
	height: 35em;
	max-height: 100em;
	align-items: center;
}

.title {
	text-align: center;
	font-size: 26px;
	color: #fff;
}

 input {
 	margin: 5px;

 }

 .reminder-form {
 	padding: 5px;
 }

 .list-item {
 	display: inline-block;
 }

 .delete-button {
 	float: right;
 	padding-left: 5px;
 }

 hr {
 	border: 9px solid blue;
 	width: 100%;
 	border-top: 1px solid white;
 }

 footer {
 	max-width: 100%;
 	width: 100%;
 }

 .footer-class {
 	background-color: white;
 	text-align: center;

 }